@media (max-width:2048px) {
  #slide-nav .container {
    margin: 0!important;
    padding: 0!important;
    height:100%;
  }
  #slide-nav .navbar-header {
    margin: 0 auto;
    padding: 0 15px;
    position: fixed;
    right: 10px !important;
  }
  #slide-nav .navbar.slide-active {
    position: absolute;
    width: 80%;
    top: -1px;
    left: 10px;
    z-index: 1000;
  }
  #slide-nav #slidemenu {
    background: #f5f5f5;
    margin: 0;
    min-height: 2048px;
    min-width: 0;
    padding-left: 0;
    position: absolute;
    right: -80%;
    top: -8px;
    width: 160px;
    z-index: 2;
  }
  #slide-nav #slidemenu .navbar-nav {
    min-width: 0;
    width: 100%;
    margin: 40px 0 0;
  }
  #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
    min-width: 0;
    width: 80%;
    white-space: normal;
  }
  #slide-nav {
    border-top: 0;
  }
  #navbar-height-col {
    position: fixed;
    top: 0;
    height: 100%;
    bottom:0;
    width: 80%;
    right: -80%;
  }
  #navbar-height-col.inverse {
    z-index: 1;
    border: 0;
  }
  #slide-nav .navbar-form {
    width: 100%;
    margin: 8px 0;
    text-align: center;
    overflow: hidden;
  }
  #slide-nav .navbar-form .form-control {
    text-align: center;
  }
  #slide-nav .navbar-form .btn {
    width: 100%;
  }
}
